{% extends 'diseases/base_site.html' %}
{% block title %}
    Список заболеваний
{% endblock %}
{% block container %}
    <div class="container">
        <h1>Список всех заболеваний</h1>
        <h4><a href="/dis/0">Создать новое</a></h4>
       <table class="table">
            <thead>
            <tr>
                <td>Болезнь</td>
                <td>Дата создания</td>
                <td>Описание</td>
            </tr>
            </thead>


            <tbody>

            {% for d in diseases %}

                <tr>
                    <td><a href="/dis/{{ d.id }}">{{ d.name }}</a></td>
                    <td><b>{{ d.dateCreation|date:"d.m.y" }}</b></td>
                    <td>
                        {{ d.description }}
                    </td>

                    <!--//content-->
                </tr>
                <!--//section-inner-->

            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}